.header__lang-link {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
    color: #fff;
    text-decoration: none;
}

.header__lang-link:nth-of-type(1) {
    margin-right: 18px;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media screen and (max-device-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}