.header {
    margin: 0;
    padding: 0;
    margin-top: 28px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 96px);
}

@media screen and (max-device-width: 1023px) {
    .header {
        width: calc(100% - 48px);
    }
}

@media screen and (max-device-width: 767px) {
    .header {
        width: calc(100% - 32px);
    }
}