.cover {
    margin: 0;
    padding: 0;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 92px;
    position: relative;
    background-image: url(../../images/cover-trains.jpg);
    /* min-height: 740px; */
    background-size: cover;
    background-position: center;
    width: calc(100% - 96px);
    min-height: 740px;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center; */
    background-repeat: no-repeat;
}

.cover::before {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-device-width: 1279px) {
    .cover {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        min-height: 640px;
    }
}

@media screen and (max-device-width: 1023px) {
    .cover {
        min-height: 480px;
    }
}

@media screen and (max-device-width: 767px) {
    .cover {
        min-height: 200px;
    }
}