.footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

@media screen and (max-device-width: 768px) {
    .footer__nav {
        flex-direction: column;
        align-self: flex-start;
    }
}